.underline li {
  text-decoration: underline;
  margin: 0 0.3em;
}
.inline {
  display: inline-flex;
}
.roundButton {
  border-radius: 0.6em;
  background: white;
  border: solid gray 0.1em;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.afterTable {
  margin-top: 1em;
}
